@import url(http://fonts.googleapis.com/css?family=Patua+One);

html, body {
  height: 100%; }

body {
  overflow: hidden; }

.scroll-hijack__slides {
  position: absolute;
  height: 100%;
  width: 100%; }

.scroll-hijack__slides__slide,
.scroll-hijack__slides__slide__content {
  height: 100%;
-webkit-transition: all .8s ease-in-out;
 -moz-transition: all .8s ease-in-out;
 -o-transition: all .8s ease-in-out;
 transition: all .8s ease-in-out;
}

.scroll-hijack__slides__slide__content {
  background-repeat: no-repeat;
  background-position: center center; }

.scroll-hijack__slides__slide {
  overflow: hidden;
  position: absolute;
  width: 100%; }

.scroll-hijack__slides__slide:nth-child(1) {
  z-index: 80; }

.scroll-hijack__slides__slide:nth-child(2) {
  z-index: 70; }

.scroll-hijack__slides__slide:nth-child(3) {
  z-index: 60; }

.scroll-hijack__slides__slide:nth-child(4) {
  z-index: 50; }

.scroll-hijack__slides__slide:nth-child(5) {
  z-index: 40; }

.scroll-hijack__slides__slide:nth-child(6) {
  z-index: 30; }

.scroll-hijack__slides__slide:nth-child(7) {
  z-index: 20; }

.scroll-hijack__slides__slide:nth-child(8) {
  z-index: 10; }

.f {
  font-size: 3vw;
  font-family: 'Patua One';
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  color: white;
  position: absolute; 
  transform: translate(-50%, -50%);
  text-align: left; 
  top: 50%;
  left: 50%; }
  .scroll-hijack__slides__slide.out {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.scroll-hijack__slides__slide.out .scroll-hijack__slides__slide__content {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }